/* D E F A U L T   S T Y L E S */
:root {
    --main-txt-color: rgba(0, 0, 0, .85);
    --sec-txt-color: rgba(0, 0, 0, .65);
}

html, body {
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--main-txt-color);
    -moz-osx-font-smoothing: grayscale;
    /* background: rgb(242, 244, 244); */
}

ul {
    list-style: none;
    padding-left: 0;
}

a:hover {
    text-decoration: none;
}

hr {
    margin: 5px 0;
    border-color: var(--main-txt-color);
}

/* U T I L I T I E S */
.wrapper {
    height: 100%;
}
.col {
    margin-bottom: 30px;
}

/* S I D E B A R */
.sidebar {
    width: 300px;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    padding: 0 10px;
    border-right: 1px solid var(--main-txt-color);
}

.sidebar .logo {
    padding: 10px 0;
}
.sidebar .logo h1 {
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
}

.sidebar-nav {
    margin-top: 30px;
}
.sidebar-nav li:first-child {
    font-size: .85rem;
}
.sidebar-nav a {
    display: block;
    padding: 0 15px;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--main-txt-color);
}

.sidebar-nav .current {
    font-style: italic;
    color: rgba(0, 0, 0, .45);
}
.sidebar-nav a:not(.current):hover {
    font-style: italic;
}

/* M A I N */
.main {
    margin-left: 300px;
    padding: 0 10px;
}

.main header {
    padding: 30px 0;
}
.main header h1 {
    /* font-family: Sporting Grotesque_Regular, sans-serif; */
    font-size: 1.6rem;
    text-transform: usppercase;
}
.widget-body {
    position: relative;
}
.widget:not(.naked), .widget.dark {
    border-radius: 14px;
    padding: 20px 0;
    background: #fff;
}
.widget:not(.naked) .widget-body > *:not(table):not(.table-responsive):not(.icon) {
    padding: 0 20px;
}
.widget:not(.naked):not(.dark) {
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 28px 0px;
}
.widget.dark {
    background-color: rgb(242, 244, 244);
}
.widget-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.widget-title.underlined::after {
    content: '';
    display: block;
    border-bottom: 1px solid var(--main-txt-color);
    margin: 10px 0;
}
.widget:not(.naked) .widget-title {
}
.widget-subtitle {
    margin: -10px 0 20px 0;
    font-size: .9rem;
    font-weight: 400;
}
.widget p {
}
.widget-body > *:last-child:not(table) { /* select last child of .widget-body */
    display: block;
    padding-bottom: 0;
    margin-bottom: 0;
}
.widget hr {
    margin: 15px 0;
}
.widget .counter {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -1px;
}
.widget-body .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    width: 60px;
    height: 60px;
    stroke-width: 1px;
}

/* T A B L E S */
.table {
    margin-bottom: 0;
}
.table td, .table th {
    padding: .7rem 25px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table th {
    border: none;
    font-weight: 500;
    font-size: .85rem;
    text-transform: uppercase;
}
.table thead th {
    border-bottom: 1px solid #dee2e6;
}

@font-face {
    font-family: 'Sporting Grotesque_Regular';
    src:    url('fonts/Sporting_Grotesque-Regular_web.eot');
    src:    url('fonts/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('fonts/Sporting_Grotesque-Regular_web.woff') format('woff'),
            url('fonts/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
            url('fonts/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
            url('fonts/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sporting Grotesque_Bold';
    src:    url('fonts/Sporting_Grotesque-Bold_web.eot');
    src:    url('fonts/Sporting_Grotesque-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('fonts/Sporting_Grotesque-Bold_web.woff') format('woff'),
            url('fonts/Sporting_Grotesque-Bold_web.woff2') format('woff2'),
            url('fonts/Sporting_Grotesque-Bold_web.ttf') format('truetype'),
            url('fonts/Sporting_Grotesque-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
