:root {
    --main-txt-color: rgba(0, 0, 0, .85);
    --sec-txt-color: rgba(0, 0, 0, .65);
}

html, body {
    height: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
    padding-left: 0;
}

hr {
    margin: 5px 0;
    border-color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-txt-color);
}

button:focus {
    outline: none !important;
}

*:focus {
    outline: none;
}

.icon {
    stroke-width: 1;
}

/* 
palette:
purple: 61085c
purply red: 61082b
blue: 0d2481
orange: ffcb95
*/
