.header {
    position: sticky;
    top:0; 
    z-index: 1000;
    background-color: inherit;
    padding: 0px !important;

    .navbar {
        // height: $header-height;

        .navbar-brand {
            // padding: 0;  
            margin-right: 0;
            width: $sidebar-width; // large-screen
            font-weight: 400;
        }

        // to-do: change in bootstrap & refactor
        form {
            flex-grow: 1;
            flex-wrap: nowrap;
            transition: all .2s ease-in;
            background-color: white;

            .icon {
                height: 22px;
                color: var(--sec-txt-color) ;
            }
        }
        input {
            border-left: 0;
            padding-left: 0;
            // border: none;
            // background-color: #f2f2f2;
            font-size: .9rem;
            width: 240px;
            transition: all .2s ease-out
        }
        input:focus {
            width: 100%;
            border-width: 1px;
            // height: calc(100% + 2px);
            box-shadow: none;
            margin-right: 0 !important;
            // background-color: #fafafa;
        }
        input:hover {
            // border: 1px solid black;
            // border-left: 0;
        }
        form:focus-within {
            box-shadow: 0 0 0 $input-btn-focus-width #c1d7ff;;
        }
        form:focus-within + * {
            display: none;
        }
        form:focus-within .input-group-text {
            border: 1px solid black;
            border-right: 0;
            // background-color: #fafafa;
        }

        .input-group-prepend {
            // background: white;
        }
        .input-group-text {
            font-size: .9rem;
            border-right: 0;
            transition: all .2s ease-out;

            &:after {
                content: '.';
                visibility: hidden;
            }
        }


    }
}

.page-title {
    h2 {
        font-weight: 400;
    }
}