@media (min-width: 1200px) {
    .container{
        max-width: 960px !important;
    }
}
.container, .container-fluid {
	// padding-left:  25px !important;
	// padding-right: 25px !important;
}

.row [class*="col-"], .row .col{
	// margin-top: 5px;
	// margin-bottom: 5px;
}

.main {
	background-color: inherit;
	margin-left: $sidebar-width;
	padding: 25px 0;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;

	button.btn .icon {
		width: 16px;
		vertical-align: bottom;
		stroke-width: 1.5px;
	}
}

// Main
.main {
	// margin: 0 0 0 260px;
	// padding: 0 0 20px;
	transition: all .2s ease-out;
}

// Layout to collapse sidebar and expand main section
body.sidebar-collapse {
	.main {

	}

	.sidebar {

	}
}