.sidebar {
  background-color: inherit;
  position: fixed;
  left: 0;
  bottom: 0;
  top: $header-height;
  width: $sidebar-width;
  padding: 20px 16px;

  .sidebar-nav {
    li {
      margin-bottom: 7px;

      a {
        font-size: .95rem;
        font-weight: 400;
        color: var(--main-txt-color);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon {
          width: 18px;
          stroke-width: 1.5;
        }

        .sidebar-nav-badge {
          font-size: .65rem;
          color: white;
          // border: 1px solid var(--main-txt-color);
          background-color: $gray-500;
          border-radius: 50px;
          padding: 0 6px;
        }
      }
    }
  }

}