// T A B L E S
.table {
    margin-bottom: 0;

    thead th, &.table-bordered thead th {
        font-weight: 400;
        font-size: .8rem;
        color: var(--sec-txt-color);
        border-bottom: none;
    }

    &:not(.table-bordered) thead th {
        border-top: none;
        border-bottom: 1px solid $border-color;
    }

    .icon {
        stroke-width: 2;
        width: 25px;
    }
}
