$font-size-base: .9rem;

$border-color: #f2f2f2;

$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.5;
$h3-font-size:                $font-size-base * 1.25;
$h4-font-size:                $font-size-base * 1;
$h5-font-size:                $font-size-base - .1;
$h6-font-size:                $font-size-base - .2rem;


// Tables
$table-cell-padding:          .7rem 15px;

$table-accent-bg:             #f8f8f8;

$table-hover-bg:              #f8f8f8;


$grid-gutter-width: 20px;