.widget {
    // background-color: #fff;
    // border: 1px solid $border-color;
    // // box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 15px 0px;
    // border-radius: 5px;
    // padding: 20px;

    .widget-title {
        font-family: Sporting Grotesque_Bold;
        font-size: .9rem;
        font-weight: normal;
        letter-spacing: -.35px;

        &.underlined:after {
            content: '';
            display: block;
            margin: 10px 0 20px;
            border-bottom: 1px solid $border-color;
        }
    }

    .widget-subtitle {

        font-family: inherit;
        font-size: .9rem;
        margin-bottom: 10px;
    }
}
.widget-body {
}
