@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "base";
@import "layout";
@import "sidebar";
@import "header";
@import "widget";
@import "table";

.logo {
  padding: 12px 35px;
  margin: 15px 0 0 0;
  
  span {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 4px solid #0d2481;
  
    &::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 6px;
    height: 6px;
    background-color: #0d2481;
    border-radius: 50px;
  }
}
  
  h1 {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffcb95;
  }
}
